{% extends 'base.html' %}
{% block body %}

<h1>Student Regiteration</h1>
<form class="form-inline">
    {% csrf_token %}
    <div class="mb-3">
        
        <label>Name</label> <br>
        <span id="nameError" font-color="red"></span>
        <input type="text" id="stname" class="form-control" style="width:30%;" required="required"/>

        <label>Age</label>
        <input type="text" id="stage" class="form-control" style="width:30%;" required="required"/>

        <label>List Of Class </label>
        <select id="myDropdown" class="form-control" style="width:30%;"></select>

    </div>    
    <div class="mb-3">    
        <button type="button" id="createStudent" class="btn btn-primary">Create</button>
    </div>
</form>
<br />
<div id="stResult"></div>
{% endblock %}