{% extends 'base.html' %}
{% block body %}

<h1>Student Regiteration</h1>
<form class="form-inline" id="myForm">
    {% csrf_token %}
    <div class="mb-3">
        
        <label>Name</label> <br>
        <span id="nameError" style="color: red;"></span>
        <input type="text" id="stname" class="form-control" style="width:30%;" required="required"/>
        
        <label>Age</label><br>
        <span id="ageError" style="color: red;"></span>
        <input type="text" id="stage" class="form-control" style="width:30%;" required="required"/>
        
        <label>List Of Class </label> <br>
        <span id="gradeError" style="color: red;"></span>
        <select id="myDropdown" class="form-control" style="width:30%;"></select>

    </div>    
    <div class="mb-3">    
        <button type="button" id="createStudent" class="btn btn-primary">Create</button>
    </div>
</form>
<br />
<div id="stResult"></div>
{% endblock %}