{% extends 'base.html' %}
{% block body %}

<h1>Class Regiteration</h1>
<form class="form-inline">
    {% csrf_token %}
    <div class="mb-3">
        
        <label>Name</label>
        <input type="text" id="name" class="form-control" style="width:30%;" required="required"/>

        <label>List Of Class </label>
        <select id="myDropdown" class="form-control" style="width:30%;"></select>

    </div>    
    <div class="mb-3">    
        <button type="button" id="create" class="btn btn-primary">Create</button>
    </div>
</form>
<br />
<div id="result"></div>
{% endblock %}